@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
/*Estilos Globais*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Plus Jakarta Sans";
}

p {
  margin-bottom: 0;
}

/*navbar*/
.navbar {
  background-color: black !important;
  padding: 1rem;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.3) !important;
  backdrop-filter: blur(3px);
}

.container-fluid {
  justify-content: space-around !important;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar-brand img {
  max-width: 4rem;
}

.collapse {
  flex-grow: 0;
}

.navbar-nav {
  margin-right: 0 !important;
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  color: #F38BDC;
  font-weight: 600;
}

.nav-link:hover {
  color: #7C37AB !important;
}

.nav-link:visited {
  color: #F38BDC;
}

.nav-link.active {
  color: #7C37AB !important;
}

.navbar-toggler {
  border: solid 1px #F38BDC;
}

.navbar-toggler-icon {
  background-image: url(./assets/toggleIcon.png);
}

/*Hero Section*/
.herosection {
  background-image: url("./assets/pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10vh 5vh;
  margin-top: 30px;
}
.herosection p {
  font-weight: 600;
  font-size: 4vw;
}

.img_desktop {
  display: none;
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.first_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.first_container p {
  color: #7C37AB;
}
.first_container img {
  width: 70vw;
}

.second_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
}
.second_container img {
  width: 100%;
}
.second_container .second_container_texts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.second_container .second_container_texts p {
  color: #F38BDC;
  text-align: center;
}

.btn {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 30vh;
  border: solid 2px;
  border-color: #F38BDC;
  background-color: rgba(255, 255, 255, 0.09);
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.1s;
}
.btn p {
  color: #F38BDC;
  font-weight: 600;
  font-size: 4vw;
}
.btn img {
  width: 10vw;
}

/*Section Sobre*/
.sobre-nos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: black;
  color: #F38BDC;
  text-align: center;
}
.sobre-nos h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #F38BDC;
  margin: 2rem auto;
}

.rectangle {
  margin: 1rem;
  border-radius: 24px;
  background: linear-gradient(37deg, rgb(15, 20, 33) 0%, rgb(48, 35, 57) 50%, rgb(75, 47, 77) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid #AF96BC;
}

.sobre-nos-image {
  display: block;
  margin: auto;
  width: 90%;
  height: auto;
}

.sobre-nos-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  margin: 2rem auto;
  border: 2px solid #F38BDC;
  width: 60vw;
  height: 12vw;
  border-radius: 30vw;
  font-size: 5vw;
  font-weight: 600;
  color: #F38BDC;
}
.sobre-nos-button img {
  width: 9vw;
}

.content-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.content-container .icon-container {
  display: flex;
  flex-direction: column;
}
.content-container .icon-item {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  font-size: 1rem;
  font-weight: bold;
  color: #F38BDC;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.content-container .icon-item p {
  margin-bottom: 1.6rem;
}

.funcionalidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-image: url("./assets/pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.funcionalidades-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #F38BDC;
  margin: 2rem;
}

.title-func {
  margin-bottom: 1rem;
}

.funcionalidade-img {
  width: 13rem;
  height: auto;
}

.funcionalidades-items p {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "Plus Jakarta Sans";
  margin-top: 1rem;
}

/*Form*/
.formsection {
  background-image: url("./assets/pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding-bottom: 100px;
}

.img_form img {
  width: 70vw;
}

.form-div {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  height: 466px;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.09);
  border: solid 2px;
  border-color: #F38BDC;
  font-size: 15px;
  height: 55px;
}

.text_area {
  border-radius: 30px;
  height: 290px;
}

#sub_button {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.09);
  border: solid 2px;
  border-color: #F38BDC;
  font-size: 15px;
  border-radius: 30px;
  font-size: 18px;
  color: #F38BDC;
}
#sub_button img {
  width: 51px;
}
#sub_button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.1s;
}

/*Feedbacks*/
.container-feedbacks {
  border: solid 2px #AF96BC;
  background: linear-gradient(37deg, rgb(15, 20, 33) 0%, rgb(48, 35, 57) 50%, rgb(75, 47, 77) 100%);
  color: #F38BDC;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  gap: 1.5rem;
}
.container-feedbacks h1 {
  margin: 1rem 0;
  font-weight: 600;
}

.card-container {
  border: solid 2px #AF96BC;
  border-radius: 2rem;
  padding: 2rem;
  background-color: rgba(41, 45, 50, 0.65);
}

.card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 10rem;
  object-fit: cover;
  margin-right: 5%;
}

/*Footer*/
footer a {
  text-decoration: none;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.contact h1 {
  color: white;
  opacity: 50%;
  font-size: 15px;
  font-weight: 500;
}

.container1 img {
  display: none;
}

.contact_infos {
  display: flex;
  justify-content: space-around;
  padding-right: 20px;
}

.contact_conteudo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact_conteudo h2 {
  color: white;
  opacity: 50%;
  font-size: 10px;
  font-weight: 500;
}
.contact_conteudo p {
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.social {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.social h1 {
  color: white;
  opacity: 50%;
  font-size: 15px;
  font-weight: 500;
}

.icons {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: center;
}
.icons i {
  color: #F38BDC;
  font-size: 5vw;
}

.direitos {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 20px;
}

.termos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 60px 0 60px;
}
.termos p {
  font-size: 10px;
  font-weight: 500;
  color: white;
}

.copy {
  display: flex;
  justify-content: center;
}
.copy p {
  color: white;
  opacity: 50%;
  font-size: 10px;
}

/*Media Queries*/
/*Ipad*/
@media screen and (min-width: 770px) {
  /*Sobre nos*/
  .sobre-nos {
    padding: 4rem 2rem;
  }
  .sobre-nos h2 {
    font-size: 3rem;
  }
  .content-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: space-between;
  }
  .content-container .icon-container {
    display: flex;
    flex-direction: column;
  }
  .content-container .icon-item {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    font-size: 2rem;
    font-weight: bold;
    color: #F38BDC;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .content-container .icon {
    width: 10rem;
    height: auto;
  }
  /*Fucionalidades*/
  .funcionalidades {
    flex-direction: row;
    justify-content: space-around;
  }
  .funcionalidades-items {
    margin: 0;
  }
  .funcionalidades-items .title-func {
    padding: 20px;
  }
  .funcionalidade-img {
    margin-top: 1rem;
  }
  /*Form*/
  .img_form img {
    width: 40vh;
  }
  .form_div,
  .form-control,
  .botao {
    width: 638px;
  }
  .formulario {
    display: flex;
    align-items: center;
  }
  /*footer*/
  .container1 {
    display: flex;
    justify-content: space-around;
    padding: 0 45px;
    align-items: center;
  }
  .container1 img {
    display: block;
    width: 50px;
  }
  .contact,
  .social {
    padding: 20px 0px;
  }
  .contact_infos {
    padding-right: 0px;
    gap: 40px;
  }
  .icons i {
    font-size: 3vw;
  }
  .direitos {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 45px 20px 45px;
  }
  .termos {
    gap: 100px;
    padding: 0px;
  }
  .termos p {
    opacity: 50%;
  }
}
/*Desktop*/
@media screen and (min-width: 1080px) {
  /*Hero Section*/
  .herosection {
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
  }
  .img_desktop {
    display: block;
  }
  .img_desktop img {
    width: 40vw;
  }
  .first {
    gap: 50px;
  }
  .first_container img {
    max-width: 40vw;
  }
  .first_container p {
    font-size: 3vw;
  }
  .second_container img {
    display: none;
  }
  .second_container .second_container_texts p {
    font-size: 1.5vw;
  }
  .btn {
    width: 40%;
  }
  .btn p {
    font-size: 1.5vw;
  }
  .btn img {
    width: 5vh;
  }
  /*Sobre*/
  .sobre-nos {
    padding: 0;
  }
  .sobre-nos h2 {
    font-size: 4rem;
  }
  .rectangle {
    padding: 2rem;
  }
  .sobre-nos-button {
    width: 65%;
    height: 7rem;
    font-size: 3vw;
  }
  .sobre-nos-button img {
    width: 4vw;
  }
  .content-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
  }
  /*Feedbacks*/
  .container-feedbacks {
    display: grid;
    grid-column: auto;
  }
  /*Footer*/
  .icons i {
    font-size: 2.1vw;
  }
  .direitos {
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
